<div>
  <ul>
    <li><a routerLink="/aspectratio">Aspect Ratio example</a></li>
    <li><a routerLink="/layouts">Layout example</a></li>
    <li>
      <h2>Scroll Snap</h2>
      <div class="container">
        <div class="viewer">
          <div class="slide">
            <h2>Introduction</h2>
            <p>Hello scroll-snap-type</p>
          </div>
          <div class="slide">
            <h2>Description</h2>
            <p>The scroll-snap-type CSS property sets how strictly snap points are enforced on the scroll container in case there is one.</p>
          </div>
          <div class="slide">
            <h2>Syntax</h2>
            <p><code>scroll-snap-type: none | [x|y|block|inline|both] [mandatory|proximity]</code></p>
          </div>
          <div class="slide">
            <h2>Browser compatibility</h2>
            <p>It's OK with the latest version of browser.</p>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
