<div class="parent" fxLayout="row">
  <div fxFlex="200px" class="left-child">
    <h3 style="margin-top: 0">Flex Layout Examples</h3>
    <ul class="menu">
      <li class="menuItem"><a routerLink="/animations">Animations</a></li>
      <li class="menuItem"><a routerLink="/events">Angular Events</a></li>
      <li class="menuItem"><a routerLink="/forms">Angular Forms</a></li>
      <li class="menuItem"><a routerLink="/material">Angular Material</a></li>
      <li class="menuItem"><a routerLink="/routing">Angular Router</a></li>
      <li class="menuItem"><a routerLink="/binding">Binding Data</a></li>
      <li class="menuItem"><a routerLink="/directives">Built-in Directives</a></li>
      <li class="menuItem"><a routerLink="/css">CSS examples</a></li>
      <li class="menuItem"><a routerLink="/cssgrid">CSS grid</a></li>
      <li class="menuItem"><a routerLink="/fileupload">File Upload</a></li>
      <li class="menuItem"><a routerLink="/firestore">Firestore Database</a></li>
      <li class="menuItem"><a routerLink="/column">FlexLayout</a></li>
      <li class="menuItem"><a routerLink="/indexeddb">IndexDB</a></li>
      <li class="menuItem"><a routerLink="/dynamicTemplate">Load Template Dynamically</a></li>
      <li class="menuItem"><a routerLink="/lazy/load-me">Lazy loading components</a></li>
      <li class="menuItem"><a routerLink="/localstorage">Local Storage</a></li>
      <li class="menuItem"><a routerLink="/lodash">Lodash</a></li>
      <li class="menuItem"><a routerLink="/linq">LINQ</a></li>
      <li class="menuItem"><a routerLink="/messaging">Messaging Service</a></li>
      <li class="menuItem"><a routerLink="/oauth">Oauth2</a></li>
      <li class="menuItem"><a routerLink="/operators">Operators</a></li>
      <li class="menuItem"><a routerLink="/rest">Rest Api Calls</a></li>
      <li class="menuItem"><a routerLink="/rxjs">Rxjs Operators</a></li>
      <li class="menuItem"><a routerLink="/sidenav">SideNav</a></li>
      <li class="menuItem"><a routerLink="/svg">SVG</a></li>
      <li class="menuItem"><a routerLink="/observable">The Observable</a></li>
      <li class="menuItem"><a routerLink="/typescript">Typescript</a></li>
      <li class="menuItem"><a routerLink="/typography">Typography (Fonts)</a></li>
      <li class="menuItem"><a routerLink="/template">Templates and Containers</a></li>
      <li class="menuItem"><a routerLink="/testing">Testing</a></li>
    </ul>
  </div>
  <div fxFlex class="right-child">
    <router-outlet></router-outlet>
  </div>
</div>


