<h1><a href="https://lodash.com/docs/4.17.15">Lodash Examples</a></h1>
<h3>Converting an array into a dictionary (or map)</h3>
<p>
  This sample shows how to convert a list  into a map.  Aftewards, the function shows how to grab the value from
  the map.
</p>
<button (click)="convert()">convert</button>

<h3>Concatenate arrays</h3>
<p>
  concatenate arrays
</p>
<button (click)="concat()">Concat</button>
<h3>Filter arrays</h3>
<p>
  filter arrays
</p>
<button (click)="filter()">Filter</button>
<h3>Clone Objects</h3>
<p>Clone not deep</p>
<button (click)="clone()">clone</button>
<!-- <button (click)="cloneDeep()">cloneDeep</button> -->
<p>https://stackoverflow.com/questions/36124363/deep-copying-objects-in-angular</p>
<button (click)="cloneDeepWith()">cloneDeepWith</button>
<h3>Union</h3>
<p>
  The Union function unions 2 arrays like a union combines 2 recordsets in sql.
</p>
<button (click)="union()">Union</button>
