<h1>Using typescrip</h1>
<p>Typescript has an embedded linq support but is not the same language syntax</p>
<h2>Doing Where</h2>
<p>In typescript use the filter method to simulate a where clause.</p>
<ul>
  <li *ngFor="let contact of contacts1">
    Id: {{contact.id}}
    FirstName: {{contact.FirstName}}
  </li>
</ul>
Found Contact: {{foundContact?.FirstName}} <br/>
<button (click)="filter()">Filter Items</button> <br />
<h1>Using library</h1>
<h2>Doing Joins</h2>
<p>Using a Linq library.</p>

<h1>Using library</h1>
<h2>Doing Joins</h2>
<p>Using a Linq library.</p>
