<h1>Operators</h1>
int a = 5
<table>
  <tr>
    <td>b = "5"</td>
    <td><button (click)="testAequalsStringB()">Test a == b </button></td>
    <td>{{AequalsStringB}}</td>
  </tr>
  <tr>
    <td>b = 5</td>
    <td><button (click)="testAequalsNumberB()">Test a == b </button></td>
    <td>{{AequalsNumberB}}</td>
  </tr>
  <tr>
    <td>b = "5"</td>
    <td><button (click)="testAequalsEqualsNumberB()">Test a === b </button></td>
    <td>{{AequalsEqualsNumberB}}</td>
    <td>The === operator checks for value and type. if one is  false the whole expression is false.</td>
  </tr>
</table>
