<app-toolbar [menus]="menus" #sidemenus></app-toolbar>
<div class="manage-container" fxLayout="row">
  <div class="side" fxFlex="22"></div>
  
  <mat-selection-list #action>
    <mat-list-option>
      Add questions to new test
    </mat-list-option>
    <mat-list-option>
      Add questions to existing test
    </mat-list-option>
    <mat-list-option>
      Edit existing questions
    </mat-list-option>
    <mat-list-option>
      Edit existing test
    </mat-list-option>
  </mat-selection-list>
</div>
