<!--row-->
<h2>Rows</h2>
<div class="content">
  <div class="row">
    <div class="cell">
      <img class="img-row" src="http://i.imgur.com/OUla6mK.jpg" />
    </div>
    <div class="cell">
      <img class="img-row" src="http://i.imgur.com/M16WzMd.jpg" />
    </div>
  </div>
</div>
<!--column-->
<h2>Columns</h2>
<div class="content">
  <div class="col">
    <div class="cell-col">
      <p>
        The example for height needs to make sure that
        theThe example for height needs to make sure that the
        The example for height needs to make sure that the
        The example for height needs to make sure that the
      </p>
    </div>
    <img class="img-col" src="http://i.imgur.com/OUla6mK.jpg" />
    <div class="cell-col">
      <p>
        The example for height needs to make sure that
        theThe example for height needs to make sure that the
        The example for height needs to make sure that the
        The example for height needs to make sure that the
      </p>
    </div>
  </div>
</div>
<!--wrap-->
<h2>Wrapping elements</h2>
<div class="wrap-container">
  <div class="wrap-container-item">
    1
  </div>
  <div class="wrap-container-item">
    1
  </div>
  <div class="wrap-container-item">
    1
  </div>
  <div class="wrap-container-item">
    1
  </div>
  <div class="wrap-container-item">
    1
  </div>
  <div class="wrap-container-item">
    1
  </div>
  <div class="wrap-container-item">
    1
  </div>
  <div class="wrap-container-item">
    1
  </div>
  <div class="wrap-container-item">
    1
  </div>
  <div class="wrap-container-item">
    1
  </div>
  <div class="wrap-container-item">
    1
  </div>
  <div class="wrap-container-item">
    1
  </div>
</div>

