<div>
  <div [style.width.px]="controlWidth" [style.height.px]="controlHeight" class="board-dominos">board dominos</div>

  <div #divToScroll class="div-to-scroll">
    <p>teststete dfkj dflkjdfldkjf ldkfj ldkfj dlkfjd lfkjd lfkjd fldf</p>
    <p>teststete dfkj dflkjdfldkjf ldkfj ldkfj dlkfjd lfkjd lfkjd fldf</p>
    <p>teststete dfkj dflkjdfldkjf ldkfj ldkfj dlkfjd lfkjd lfkjd fldf</p>
    <p>teststete dfkj dflkjdfldkjf ldkfj ldkfj dlkfjd lfkjd lfkjd fldf</p>
    <p>teststete dfkj dflkjdfldkjf ldkfj ldkfj dlkfjd lfkjd lfkjd fldf</p>
    <p>teststete dfkj dflkjdfldkjf ldkfj ldkfj dlkfjd lfkjd lfkjd fldf</p>
    <p>teststete dfkj dflkjdfldkjf ldkfj ldkfj dlkfjd lfkjd lfkjd fldf</p>
    <p>teststete dfkj dflkjdfldkjf ldkfj ldkfj dlkfjd lfkjd lfkjd fldf</p>
    <p>teststete dfkj dflkjdfldkjf ldkfj ldkfj dlkfjd lfkjd lfkjd fldf</p>
    <p>teststete dfkj dflkjdfldkjf ldkfj ldkfj dlkfjd lfkjd lfkjd fldf</p>
    <p>teststete dfkj dflkjdfldkjf ldkfj ldkfj dlkfjd lfkjd lfkjd fldf</p>
    <p>teststete dfkj dflkjdfldkjf ldkfj ldkfj dlkfjd lfkjd lfkjd fldf</p>
    <p>teststete dfkj dflkjdfldkjf ldkfj ldkfj dlkfjd lfkjd lfkjd fldf</p>
    <p>teststete dfkj dflkjdfldkjf ldkfj ldkfj dlkfjd lfkjd lfkjd fldf</p>
    <p>teststete dfkj dflkjdfldkjf ldkfj ldkfj dlkfjd lfkjd lfkjd fldf</p>
    <p>teststete dfkj dflkjdfldkjf ldkfj ldkfj dlkfjd lfkjd lfkjd fldf</p>
    <p>teststete dfkj dflkjdfldkjf ldkfj ldkfj dlkfjd lfkjd lfkjd fldf</p>
    <p>teststete dfkj dflkjdfldkjf ldkfj ldkfj dlkfjd lfkjd lfkjd fldf</p>
    <p>teststete dfkj dflkjdfldkjf ldkfj ldkfj dlkfjd lfkjd lfkjd fldf</p>
    <p>teststete dfkj dflkjdfldkjf ldkfj ldkfj dlkfjd lfkjd lfkjd fldf</p>
    <p>teststete dfkj dflkjdfldkjf ldkfj ldkfj dlkfjd lfkjd lfkjd fldf</p>
    <p>teststete dfkj dflkjdfldkjf ldkfj ldkfj dlkfjd lfkjd lfkjd fldf</p>
    <p>teststete dfkj dflkjdfldkjf ldkfj ldkfj dlkfjd lfkjd lfkjd fldf</p>
    <p>teststete dfkj dflkjdfldkjf ldkfj ldkfj dlkfjd lfkjd lfkjd fldf</p>
    <p>teststete dfkj dflkjdfldkjf ldkfj ldkfj dlkfjd lfkjd lfkjd fldf</p>
    <p>teststete dfkj dflkjdfldkjf ldkfj ldkfj dlkfjd lfkjd lfkjd fldf</p>
  </div>
  <button (click)="scroll()">scroll</button>
</div>
